extends layout

block content	
	h1 Workflow of the Assignment
	h2(style='color:blue') 
		a(href='http://shippable-51981.onmodulus.net/') Live URL: http://shippable-51981.onmodulus.net/
	ul
		li			
			h6 1) Used git search API for fetching the no of open issues whithin a given date range
		li
			h6 2) Git calls are made asynchronously to fetch the required data in various date ranges				  
		li
			h6 3) Used eventEmitter to manage the asynchronous callbacks
		li
			h6 4) Used jade view engine to render the data from server
		li
			h6 5) Error cases like invalid repository are handled
		li
			h6 6) NOTE: Can also use async library for managing the asynchronous calls. But for the given requirement,
						eventEmitter was sufficient. Given more time, git API rate limit can be handled.