extends layout

block content
	h1 Workflow of the Assignment
	ul
		li			
			h6 1) The Client side is defined in the jade within express and the index.jade is linked to the home.
		li
			h6 2) Services are written in Node.js, on Submit after entering the repo URL 'getissues' service is called. This will return the necessary response in an array, which is used in the jade file to present dynamically.				  
		li
			h6 3) If a valid repo URL is entered, then git search API for issues (ghsearch.issues) is called by passing the query string 'q', repo URL and created date criterion as arguments. ghsearch.issues returns a JSON object with many attributes, from which 'total_count' gives the total number of opened issues. 
		li
			h6 4) For date criterion Monent.js is used, a library to play with date formats and manipulation.
		li
			h6 5) A new eventEmitter ('calculated') is added in order to ensure that the result is rendered only after the calculation of all needed values.
		li
			h6 6) Error handling is done for the incorrect or unavailable repo URL. Whenever there is an incorrect repo passed to git search API, result returned will be undefined. A check is made on that and if it is an erroneous, repo error.jade is rendered else issue.jade is rendered along with an array([total issues, issues in last 24 hours, in a week except current date, before a week = (total issues-issues in the last week)]).