extends layout
 
block content
  br
  h1 Hai, this is Prabakaran Murugesan
  section.css-table(style='color:white;border:0')
    section.two-column
      section.cell
        h2 Mobile Number
        p +91-7795958785
      section.cell
        h2 Mail Id
        p mpraba2020@gmail.com