//
  A basic layout file which the fixed background, header, footer and the search box with repo URL text box.
  CSS is defined in style.css stylesheet
!!! 5
html
  head
    title=title
    link(rel='stylesheet', href='/stylesheets/style.css')
    link(rel='stylesheet', href='/stylesheets/chunkfive-fontface.css')
  body
    header
      nav
        ul
          li 
            a(href="/About") Assignment Doc
          li 
            a(href="/contact") Contact
    br
    form(action='/getissues')
      input(type='text', id='repo', name='repo', size=15)
      input(type='submit', value='Get Issues')
    br
    block content